body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.App{
    width: 100vw;
    height: fit-content;
    overflow-x: hidden;
}

::-webkit-scrollbar
{
    width: 10px;
    height: 10px;
    background-color: #16012B;
}

::-webkit-scrollbar-thumb
{
    background:linear-gradient(#D77A3A,#F3A950);
    border-radius:105px;
}