.stackcard {
  height: 180px;
  width: 16vw;
  overflow: hidden;
  position: relative;
  background: #05050c;
  outline: 1px solid rgb(26, 26, 26);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.stackcard #cover {
  height: 80%;
  width: 80%;
  object-fit: contain;
  filter: grayscale(100%);
  transition: filter 0.3s ease-in-out;
}

.stackcard #cover:hover {
  filter: grayscale(50%);
  transition: filter 0.3s ease-in-out;
}

@media (max-width: 767px) {
  .stackcard {
    height: 180px;
    width: 100%;
    margin: 10px;
  }
}
