@font-face { font-family: MontserratLight; src: url('MontserratLight.ttf'); } 
*
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 40vh;
    width: 85%;
    height: auto;
    user-select: none;
}

#ellipse{
    position: absolute;
    scale: 1.0;
    top: 85vh;
    padding-bottom: 7%;
    width: 600px;
    left: calc(50% - 500px);
}

.JackyDance{
    position: absolute;
    height: 1200px;
    width: 100%;
    top: 85vh;
    left: -160px;
}

.texta{
    position: absolute;
    top: 85vh;
    font-family:"MontserratLight";
    text-align: justify;
    color: #FFD3D3;
    width: 35%;
    font-size: 30px;
    left: calc(50% + 200px);
    text-shadow: 4px 5px 2px rgba(4, 1, 12, 0.2);
}

b{
    color: #F8F6CB;
}

@media screen and (max-width: 1200px){
    #ellipse{
        width: 480px;
        left: calc(59% - 240px);
        top: 100vh;
    }
    .JackyDance{
        height: 950px;
        top: 100vh;
        left: 90px;
    }
    .texta{
        top: 152vh;
        font-size: 20px;
        left: 12%;
        width: 95%;
        text-align: center;
    }
}

@media screen and (max-width: 480px){
    #ellipse{
        width: 350px;
        left: calc(59% - 175px);
    }
    .JackyDance{
        height: 600px;
        width: 100vw;
        left: 12%;
    }
    .texta{
        font-size: 15px;
        top: 155vh;
    }
}