.Title{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 40vh;
    width: auto;
    height: auto;
    color: aqua;
}

#sunset{
    position: absolute;
    scale: 1.5;
    z-index: -2;
    width: 30%;
}
#titre{
    position: absolute;
    scale: 1.5;
    z-index: 0;
    width: 30%;
}

.Jacky{
    position: absolute;
    height: 400px;
    z-index: -1;
    width: 30%;
    padding-left: 24%;
    padding-top: 8%;
}

@media screen and (max-width: 1920px){
    #sunset{
        width: 45%;
    }
    #titre{
        width: 45%;
    }
    .Jacky{
        width: 45%;
        padding-left: 36%;
        padding-top: 12%;
    }
}

@media screen and (max-width: 1200px){
    #sunset{
        width: 65%;
    }
    #titre{
        width: 65%;
    }
    .Jacky{
        width: 65%;
        height: 300px;
        padding-left: 53%;
        padding-top: 16%;
    }
}

@media screen and (max-width: 380px){
    #sunset{
        width: 90%;
    }
    #titre{
        width: 90%;
    }
    .Jacky{
        width: 90%;
        height: 150px;
        padding-left: 48%;
    }
}