@font-face { font-family: Khand; src: url('Khand-Regular.ttf'); } 
*
nav {
    height: 50px;
    background: rgba(255, 255, 255, 0.25);
    color: #fff;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    position: fixed;
    top: 20px;
    left: calc(50% - 200px);
    border-radius: 10px;
    margin: 0 auto;
    text-align: center;
    width: 400px;
}

.navbar-container {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.items {
    position: relative;
    font-family: 'Khand';
    font-size: 20px;
    margin-block-start: -5px;
    color: #ffffff;
    cursor: pointer;
}

#h{
    position: relative;
}

#a{
    position: relative;
    left: 30px;
}

#p{
    position: relative;
    left: 60px;
}

#c{
    position: relative;
    left: 90px;
}

@media screen and (max-width: 480px){
    nav{
        width: 270px;
        height: 40px;
        left: calc(50% - 135px);
    }
    .items{
        font-size: 15px;
        margin-block-start: -7px;
    }
    #h{
        left: -20px;
    }
    
    #a{
        left: 0px;
    }
    
    #p{
        position: relative;
        left: 20px;
    }
    
    #c{
        position: relative;
        left: 40px;
    }
}