.Projet{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 40vh;
    width: 85%;
    height: auto;
    user-select: none;
}

.zawarudo{
    position: absolute;
    height: 1500px;
    width: 100vw;
    top: 2200px;
    z-index: 1;
    padding-left: 50%;
}

.marche{
    position: absolute;
    height: 1300px;
    width: 100vw;
    top: 1690px;
    padding-left: 50%;
}

.aquamarine {
    background-color: #68EDC6;
}

@media screen and (max-width: 1200px){
    .zawarudo{
        height: 950px;
        padding-left: 10%;
        top: 2300px;
    }
    .marche{
        height: 950px;
        top: 1912px;
        padding-left: 10%;
    }
}

@media screen and (max-width: 480px){
    .zawarudo{
        height: 650px;
        padding-left: 10%;
        width: 100vw;
        top: 2300px;
    }
    .marche{
        height: 650px;
        top: 2032px;
        padding-left: 10%;
    }
}